{% block menu %}
<!-- followin menu -->
  <div class="ui attached stackable menu">
    <div class="ui container">
      <div class="header item">
        <i class="desktop icon"></i>
      </div>
      <a class="item" href="{{path("_inicio")}}">
        <i class="browser icon"></i>
        Inicio
      </a>
      <a class="item" href="{{path("_reportes")}}">
        <i class="search icon"></i>
        Reporte
      </a>
    </div>
  </div>
{% endblock %}
