{% extends 'base.html.twig' %}


{% block contenido %}
<div class="ui container">
	<h2 class="ui header">
		<i class="sticky note icon"></i>
		<div class="content">
			Orden de Trabajo
			<div class="sub header">Elyte</div>
		</div>
	</h2>
</div>
<div class="ui raised segment">
 Registro Correcto
</div>
{% endblock %}
