{% extends 'base.html.twig' %}

{% block contenido %}
<div class="ui container">
 <h2 class="ui header">
   <i class="sticky note icon"></i>
   <div class="content">
     Historial de Cámaras
     <div class="sub header">Elyte</div>
   </div>
 </h2>
</div>
<br>
<div class="ui container">
  <label>Buscar </label>
  <div class="ui input">
  <input type="text" placeholder="Código ...">
</div>
{{form_start(form ,{'attr':{'class':'ui form'}})}}
{{form_end(form)}}
</div>
{% endblock %}
